@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* RESET */
* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    outline: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    font-size: 62.5%;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 150%;
    font-weight: 600;
    font-size: 2.2rem;
    color: #303030;
    width: 100%;
}

p {
    font-size: 1.3rem;
    color: #7A7878;
    width: 100%;
}

#title {
    width: 40%;
    background-color: #303030;
    height: 3px;
}

.section-reviews hr {
    width: 100%;
    background-color: #D8D8D8;
    height: 1px;
}

header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 2.5rem;
    background-color: #141414;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: #F2F2F2;
}


/* LOGO */
.logo {
    display: flex;
    justify-content: center;
    width: 80%;
    padding: 1rem;
}

.logo img {
    max-width: 100%;
    height: auto;
}

/* IMAGENS */
.section-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
}

.img-game-small {
    width: 25%;
    height: auto;
}

.img-game-big {
    width: 50%;
    height: auto;
}

.img-game-small img, .img-game-big img {
    width: 100%;
    height: auto;
    filter: grayscale(40%);
    max-width: 100%;
}

.img-game-small img:hover, .img-game-big img:hover {
    filter: grayscale(0%);
    cursor: pointer;
}